<!DOCTYPE html>
<html lang="en-GB" data-theme="electricbrain">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="theme-color" content="#22d3ee" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Brain" />
    <link rel="icon" type="image/png" href={~p"/favicon.png"} />
    <link rel="apple-touch-icon" href={~p"/images/brain-logo-256.png"} />
    <link rel="manifest" href={~p"/manifest.webmanifest"} />
    <.live_title default="Electric Brain" suffix=" · ⚡🧠">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/js/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body class="bg-base-100 text-base-content">
    {@inner_content}
  </body>
</html>
